
<mat-card class="card" >
    <div class="cardcontent">
        <div class="image">
                <img src="./assets/{{book.imageLink}}" style="height:100px;width:90px">
        </div>
        <div class="description">
            <div>
                Title : {{book.title}}
            </div>
            <div>
                Author: {{book.author}}
                <br>
                language: {{book.language}}
    
            </div>    
          <a href={{book.link}}>Click Here to Read</a>
          <button  (click)="addWishList()" style="margin-left:3%" mat-raised-button>Add to Wishlist</button>
          <button (click)="addCompleted()" style="margin-left:3%" mat-raised-button>Add to Completed</button>
    
        </div>
    
    </div>
    </mat-card>
    
    